.form {
  display: flex;
  border-top: 2px solid var(--primary-color);
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
  background: var(--secondary-color);
  color: var(--text-color);
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: var(--text-color) !important;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary-color);
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}